.car {
    width: calc(var(--cell-size) - 2px);
    height: calc(var(--cell-size) - 2px);
    position: absolute;
    z-index: 100;
    transition: left var(--move-duration) ease, top var(--move-duration) ease, transform var(--move-duration) ease;
}
