.point {
    width: var(--point-size);
    height: var(--point-size);
    background: var(--point-color);
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    margin: var(--point-offset) 0 0 var(--point-offset);
    transform: scale(1);
    pointer-events: none;
    color: var(--point-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: var(--point-size);
}

.pointCursor {
    background-color: #ddd;
    border-color: #ddd;
}

.pointGoal {
    background-color: #ffca28;
    border-color: #ffca28;
}

.pointError {
    background-color: #bf360c;
    border-color: #bf360c;
}

.pointCollected {
    outline: 2px solid var(--point-border-color);
}

.pointStatic {
    position: static;
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: middle;
}

.pointInAction {
    animation-name: point;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.34, 0.86, 0.66, 0.22);
    animation-iteration-count: 1;
}

.point:after {
    content: '';
    position: absolute;
    visibility: hidden;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 100%;
    background-image: radial-gradient(circle, currentColor, currentColor 50%, transparent);
    pointer-events: none;
}

.pointInAction:after {
    visibility: visible;
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
}

.pointGoal.pointInAction:after {
    transform: translate(-50%, -50%) scale(4);
}

@keyframes point {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
